<h1>Hi <%= name %></h1>
<form action="/auth/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>

<h1>Student</h1>
<form action="/school/student" method="GET">
    <button type="submit">Go</button>
</form>

<h1>Teacher</h1>
<form action="/school/teacher" method="GET">
    <button type="submit">Go</button>
</form>

<h1>Group</h1>
<form action="/school/group" method="GET">
    <button type="submit">Go</button>
</form>

<h1>Lesson</h1>
<form action="/school/lesson" method="GET">
    <button type="submit">Go</button>
</form>